//
// Header
//

// Desktop Mode
.submenu {
	.navi {
    .navi-item {
        .navi-link {
					padding: 0.75rem 1.0rem!important;

					&.active {
							@include navi-link-transition($transition);
							@include navi-link-theme(get($navi-config, link-bullet-bg-active), get($navi-config, submenu-text-color-active), get($navi-config, submenu-icon-color-active), get($navi-config, link-arrow-color-active), null, null);
					}
				}
    }
	}

	.navi-rect {
		display: block!important;
		text-align: center;
		padding: 1.5rem;
	}
	
	.navi-content {
		vertical-align: middle;
		text-align: center;
	
		.navi-icon {
			margin: 0.8rem;
		}
	}
	
	.list-rounded {
		.round-top-left {
			border-top-left-radius: 18px;
		}
		
		.round-top-right {
			border-top-right-radius: 18px;
		}
		
		.round-bottom-left {
			border-bottom-left-radius: 18px;
		}
		
		.round-bottom-right {
			border-bottom-right-radius: 18px;
		}
	}

	.navi .navi-item:last-child {
		border-bottom: 1px solid #EBEDF3 !important;
	}
}
