.navi-rect {
  display: block!important;
  text-align: center;
  padding: 1.5rem;
}

.navi-content {
  vertical-align: middle;
  text-align: center;
  line-height: 36px;

  .navi-icon {
    margin: 0.8rem;
  }
}

.border-radius-top-left {
  border-top-left-radius: 18px;
}

.border-radius-top-right {
  border-top-right-radius: 18px;
}

.border-radius-bottom-left {
  border-bottom-left-radius: 18px;
}

.border-radius-bottom-right {
  border-bottom-right-radius: 18px;
}

.navi .navi-item:last-child {
  border-bottom: 1px solid #EBEDF3 !important;
}